
<div class="login">

    <h2>Acesse sua conta</h2>

    <form (ngSubmit)="onLogin()">
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="email" name="email" type="email" required />
      </div>
      <div>
        <label for="password">Senha:</label>
        <input id="password" [(ngModel)]="password" name="password" type="password" required />
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit">Entrar</button>
    </form>
  </div>