.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;

    h2{
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 10px;
        width: 100% ;
        color: gray;
        height: 40px;
        border-radius: 5px;
        border: 1px solid ;
        padding: 5px;

    }

    button {
        margin-top: 10px;
        width: 100% ; 
        color: #f4f4f9;
        height: 40px;
        border-radius: 10px;
        border: none ;
        background-color: #238662;
        &:hover{
            opacity: 0.8;
        }
    }
}