.login{
    background: linear-gradient(to right, #77dd77, #238662);
    align-items: center;
    display: flex;
    height: 100vh;
    margin: auto;
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    // height: 100vh;
    background-color: #f4f4f9;

    h2{
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 10px;
        width: 100% ;
        color: gray;
        height: 40px;
        border-radius: 5px;
        border: 1px solid ;
        padding: 5px;

    }

    button {
        margin-top: 10px;
        width: 100% ; 
        color: #f4f4f9;
        height: 40px;
        border-radius: 10px;
        border: none ;
        background-color: #238662;
        &:hover{
            opacity: 0.8;
        }
    }
    .toggle-password-btn {
        margin-top: 0px;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        cursor: pointer;
        color: #207923;
        font-size: 14px;
      }
      
      .toggle-password-btn:hover {
        color: #0056b3;
      }
}

