.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;

  }
  
  thead {
    background-color: #77dd77;
  }
  
  th, td {
    padding: 8px 16px;
    border: 2px solid #e6e6e6d5;
  }
  


  .pagination {
    margin: 20px 0;
    text-align: center;
  }


  
  button {  
    background-color: #ababab;
    margin: 0 5px;
    border-radius: 7px;
    border: none ;
    padding: 4px;
    color: aliceblue;
    &:hover{
      opacity: 0.5;
  }
}