<div class="action-bar" *ngIf="showActionBar">
    <h2>{{ isEditMode ? 'Editar Pagamento' : 'Criar Novo Pagamento' }}</h2>
    <form (ngSubmit)="onSave()">
      <div>
        <label for="username">Usuário</label>
        <input id="username" [(ngModel)]="selectedTask.username" name="username" required />
      </div>
      <div>
        <label for="title">Título</label>
        <input id="title" [(ngModel)]="selectedTask.title" name="title" required />
      </div>
      <div>
        <label for="value">Valor</label>
        <input id="value" type="number" [(ngModel)]="selectedTask.value" name="value" required />
      </div>
      <div>
        <label for="date">Data</label>
        <input id="date" type="date" [(ngModel)]="selectedTask.date" name="date" required />
      </div>
      <div>
        <label for="isPayed">Pago</label>
        <input id="isPayed" type="checkbox" [(ngModel)]="selectedTask.isPayed" name="isPayed" />
      </div>
      <button type="submit">{{ isEditMode ? 'Salvar Alterações' : 'Criar Pagamento' }}</button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </form>
</div>
  